<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Book Alchemy</title>
</head>

<body>

  <h1>My Library</h1>

  <p>
    Sort by:
    <a href="/?sort=title">Title</a>
    |
    <a href="/?sort=author">Author</a>
  </p>

  {% for book in books %}
  <div>
    <h2>{{ book.title }}</h2>

    <p>
      Author: {{ book.author.name }}
    </p>

    <p>
      ISBN: {{ book.isbn }}
    </p>

    <p>
      Publication Year: {{ book.publication_year }}
    </p>
  </div>
{% endfor %}

</body>
</html>